.row { margin: 0; width: 100%; padding: 0;   display: inline-block; }
.row:before .row:after{display: table; clear: both;}

.container { width: 70%; margin-left: 15%; margin-right: 15% }

.text-center { text-align: center; }

.text-muted { color: #666666; }

.text-italic { font-style: oblique; }

.column-1, .column-2, .column-3, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
	position: relative;
	min-height: 1px;
	float: left;
}

.column-1 { width: 8.33333333%; }
.column-2 { width: 16.66666667%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33333333%; }
.column-5 { width: 41.66666667%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33333333%; }
.column-8 { width: 66.66666667%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33333333%; }
.column-11 { width: 91.66666667%; }
.column-12 { width: 100%; }

.row-1 { min-height: 100px; }
.row-2 { min-height: 200px; }
.row-3 { min-height: 300px; }
.row-4 { min-height: 400px; }
.row-5 { min-height: 500px; }
.row-6 { min-height: 600px; }
.row-7 { min-height: 700px; }

.padding{padding:10px}
.padding-top-5{padding-top:50px;}
