/**
 *  style.css
 *
 *  CTEC3110 Secure Web Applications M2M Connect Assignment
 *
 *  @contributors : Persevierance Musaka  [p11279300]
 *                 Jai Somaiya           [P13235864]
 *                Parmveer Mondair      [P12209198]
 *
 */

/*import css helper */

@import url("helper-classes.css");

body {
	/*background: #fff url(../images/bg-body.png) repeat-x 0 0;*/
	height: 100%;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#footer{
	border-top: solid 1px #ccc;
}
#header{
	border-bottom: solid 1px #ccc;
}
textarea{
	resize: none;
}
#login, #register, #profile{
	border: solid 1px #ccc;
	width: 100%;
	display: inline-block;
	/*border-top: none;*/
	border-radius: 5px;
	padding: 45px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px #cccccc;
}
ul.navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul.navigation li{
	float: left;
}
ul.navigation li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-left: 30px ;
	text-decoration: none;
}
label{
	color: #5F5655;
	font-style: oblique;
	font-size: 16px;
	line-height: 50px;
}
input{
	padding:10px;
	border: solid 1px #ccc;
	font-size: 16px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #5f5655;
}
button, ul.navigation li a{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 15px;
	line-height: 1.4;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 5px;
	color: #333333;
	background-color: #e7e7e7;
	border-color: #cccccc;
}
